.code-static {

  margin-bottom: 2em;

  .caption {
    display: block;
    margin-bottom: 0.5em;
  }

  pre {
    margin: 0;
    padding: 0.8em 1em;
    background-color: $colorGrayLight;
    color: $fontBlack;
  }

  &.do {
    .caption {
      color: $colorGreen;
    }
    pre {
      border-bottom: 2px solid $colorGreen;
    }
  }

  &.dont {
    .caption {
      color: $colorRed;
    }
    pre {
      border-bottom: 2px solid $colorRed;
    }
  }
}

// Spacing of elements
p + .code-static {
  margin-top: 2em;
}

.code-static + p {
  margin-top: 2em;
}
