---
title:  Procedural Shapes
---

<section data-type="chapter">

  {% include header.html %}

  <p>The code for our custom shape examples has so far been rather tedious. We have manually created shapes by typing line after line of vertex function calls, and this strategy will not work for more complex shapes. Also, given the title of the book, this approach might seem a bit anti-climatic. Now that we understand the basics of <code>beginShape()</code>, let us have a first look at how to procedurally draw custom shapes using a for loop, and the <code>sin()</code> and <code>cos()</code> functions.</p>

  <section data-type="sect1">

    <h1>Sine and Cosine</h1>

    <p>Over the years, I have seen many students struggle with Sine and Cosine. It is easy to understand why: These words seem rather scary and abstract, especially if you do not consider yourself good at math. However, this is both unfortunate and unnecessary. Unfortunate, because these two functions are a fundamental part of most programmatic designs, and a good understanding of them will allow you to solve many visual problems. Unnecessary, because they are not that hard to learn. Even if you do not understand everything presented in this chapter, you can get started by memorizing two almost identical lines of code.</p>

    <p>Sine and Cosine allow us to find any position on the outline of an ellipse. They do this by converting an angle into an <code>x</code> position (Cosine) or a <code>y</code> position (Sine) for a circle with a 1 pixel radius. These values can then be multiplied by the radius of your actual circle to scale them up. Although it is not strictly necessary to understand how these functions work internally, here is a way to visualize what is going on: Imagine a right sided triangle connecting the center of the circle to the point on the outline. The Sine function is a quick way to get the ratio between the left side (hypotenuse) and the right side (opposite) of that triangle. The Cosine function is likewise the ratio between the hypotenuse and the bottom side (adjacent) of the triangle.</p>

    <figure class="text-width">
      <svg width="100%" viewBox="0 0 600 500" style="background-color: #f1f1f1">
        <circle cx="300" cy="250" r="200" stroke="#333333" fill="none" stroke-dasharray="5, 5" stroke-weight="1" />
        <circle cx="473" cy="150" r="12" fill="#333333" stroke="none" />
        <circle cx="300" cy="250" r="5" fill="#333333" stroke="none" />
        <line x1="300" y1="250" x2="473" y2="150" stroke="#333333" />
        <line x1="300" y1="250" x2="473" y2="250" stroke="#333333" />
        <line x1="473" y1="250" x2="473" y2="150" stroke="#333333" />
        <g transform="translate(350,108)">
          <text>Given an angle on a</text>
          <text y="20">circle with 1px radius</text>
        </g>
        <text x="340" y="275">Cosine finds x</text>
        <text x="487" y="210">Sine finds y</text>
      </svg>
    </figure>

    <p>In P5, these functions are called <code>sin()</code> and <code>cos()</code>. As described above, they accept a single argument – an angle in radians – and return a value between <code>-1</code> and <code>1</code> representing the <code>x</code> or <code>y</code> position on a tiny circle. The two lines below demonstrate how to get these values and multiply them by the radius of your actual circle. Memorize these two lines, as they are very important.</p>

    <pre class="text-width"><code>var x = cos(RADIANS) * RADIUS;
var y = sin(RADIANS) * RADIUS;</code></pre>


    <p>To put this into context, here is an example where we use the same code to draw a small circle 330 degrees along the outline of a bigger circle.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/circles.js lines:'6-15' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/circles.js %}
      </div>
    </div>

    <p>If you consider all the basic shapes – as well as many complex shapes – they are characterized by having non-overlapping outlines that move around a center point. Some shapes, like the triangle, have just a few vertices, while others – like the ellipse – have many vertices. The <code>sin()</code> and <code>cos()</code> functions give a way to procedurally draw these types of shapes.</p>

  </section>

  <section data-type="sect1" id="for-loop">

    <h1>The For Loop</h1>

    <p>Although we will dedicate an entire part of this book to repetition, let us briefly go over the basic functionality of a <code>for</code> loop. A <code>for</code> loop allows us to execute code multiple times in a row by incrementing (or decrementing) a variable – often called <code>i</code> – until an expression is no longer true and the loop stops. In the following example, we initialize a variable with the number <code>0</code>, iterate as long as our variable is lower than <code>10</code>, and increment our variable by one between each iteration. The result is a loop that iterates ten times with our variable incrementing from zero to nine, drawing ten rectangles on the screen.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/for.js lines:'8-10' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/for.js %}
      </div>
    </div>

    <p>Unfortunately, all these rectangles have identical positions and sizes because we are passing the same static numbers to the <code>rect()</code> function over and over again. This is where <code>i</code> comes into play: Because it changes between each iteration of the loop, it can be used to create variance between each rectangle. The example below uses <code>i</code> to position the ten rectangles one pixel apart on the x-axis.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/for-i.js lines:'8-10' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/for-i.js %}
      </div>
    </div>

    <p>Although it might not be immediately clear, this is an important technique when drawing procedural designs. Because <code>i</code> increments by one between each iteration, it can be used as a scalar to distribute shapes across the canvas. For example, if we want to position the rectangles next to each other, we can multiply <code>i</code> with a number greater than the width of the rectangles.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/for-i-multiply.js lines:'8-10' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/for-i-multiply.js %}
      </div>
    </div>

    <p>We can use this same technique to draw custom shapes. Instead of drawing individual shapes in the loop, we use the for loop to procedurally add vertices between the <code>beginShape()</code> and <code>endShape()</code> function calls. In the example below, we use this technique to draw ten random vertices in the center of the canvas.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/for-random.js lines:'8-15' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/for-random.js %}
      </div>
    </div>

    <p>The result is certainly a procedural shape, but the use of <code>random()</code> does not give us a lot of control over the placement of the vertices: The shape is just a bunch of lines randomly crossing each other. The final step is to put our two techniques together and generate shapes with <code>sin()</code> and <code>cos()</code> inside of a <code>for</code> loop.</p>

  </section>

  <section data-type="sect1">

    <h1>Putting it together</h1>

    <p>Starting from our random shape code above, let us replace the random vertices with vertices placed sequentially along the outline of an ellipse. We do this by using the same two lines that we memorized earlier, but instead of passing the same angle to <code>sin()</code> and <code>cos()</code>, we calculate a different angle on every iteration by multiplying <code>i</code> with the angle we want between the vertices. The result is a shape with ten vertices evenly spread around the center of the canvas.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/for-sincos.js lines:'8-15' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/for-sincos.js %}
      </div>
    </div>

    <p>By changing the number of iterations and the spacing between the vertices, you can draw all of the basic shapes. The code below adds a few variables on top of the sketch to automatically calculate the spacing based on the number of vertices. Change the <code>numVertices</code> variable and another shape will appear.</p>

    <div class="grid">
      <div class="col-1-2">
        {% codesplit shape/procedural-shapes/for-sincos2.js lines:'8-17' %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/for-sincos2.js %}
      </div>
    </div>

    <p>‘Great, we have reinvented the basic shape functions’ you might say. Actually, this technique allows us to draw much more sophisticated shapes. Let's run through a few examples that all use the same <code>sin()</code> and <code>cos()</code> formula to draw different types of shapes. We'll start with the squiggly circle below that has a random radius for each vertex, making it look like it was drawn by hand.</p>

    {% p5 shape/procedural-shapes/squiggly.js class:'text-width' %}
    {% codesplit shape/procedural-shapes/squiggly.js class:'columns' lines:'8-18' %}

    <p>The star below is created by alternating between a low and a high radius for each vertex. It's easy to tweak the style of the star by using different numbers or more vertices, or using <code>rotate()</code> to change the orientation of the star.</p>

    {% p5 shape/procedural-shapes/star.js class:'text-width' %}
    {% codesplit shape/procedural-shapes/star.js class:'columns' lines:'8-28' %}

    <p>Here is a flower created with <code>quadraticVertex()</code> where all vertices and control points are positioned using <code>sin()</code> and <code>cos()</code>. By using a larger radius for the control points (the inverse of the star example above), the curves go outwards. When using Bézier curves, remember to start the shape with a <code>vertex()</code> function call. We do this by checking the value of <code>i</code> within the loop.</p>

    {% p5 shape/procedural-shapes/flower.js class:'text-width' %}
    {% codesplit shape/procedural-shapes/flower.js lines:'10-36' class:'columns' %}

    <p>You will often find yourself needing to use just one of the circular functions. The two shapes below are created just like that: The first one uses <code>sin()</code> and the second one uses <code>cos()</code> (as demonstrated in the code below).</p>

    <div class="grid">
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/wave-sin.js %}
      </div>
      <div class="col-1-2">
        {% p5 shape/procedural-shapes/wave-cos.js %}
      </div>
    </div>

    {% codesplit shape/procedural-shapes/wave-cos.js lines:'8-19' class:'columns' %}

    <p>Sine and Cosine can be used to create a range of different shapes during the design process. In this design by Josef Müller-Brockmann, a series of exponentially growing arcs are rotated around the bottom left of the canvas.</p>

    <figure class="text-width">
      <img src="shape/procedural-shapes/brockmann.jpg" />
      <figcaption>Beethoven poster by Josef Müller-Brockmann <a href="#fairuse">©</a></figcaption>
    </figure>

    <p>Sediment Mars is a series of generative poster designs by Sarah Hallacher and Alessandra Villaamil. The <code>sin()</code> and <code>cos()</code> functions are used to generate an elliptical shape, which is then distorted by adding random values to it.</p>

    <figure>
      <img src="shape/procedural-shapes/sedimentmars.jpg" />
      <figcaption>Sediment Mars by by Sarah Hallacher and Alessandra Villaamil <a href="#fairuse">©</a></figcaption>
    </figure>

    <p>The project Generative Play is a card game by Adria Navarro that uses procedural drawing to create an infinite amount of generative characters. The character bodies are created using <code>sin()</code> and <code>cos()</code>.</p>

    <figure>
      <img src="shape/procedural-shapes/generativeplay.jpg" />
      <figcaption>Generative Play by Adria Navarro <a href="#fairuse">©</a></figcaption>
    </figure>

    <p>This chapter introduced an approach to design that is inherently different than a traditional design process. Rather than individually placing each shape on the canvas, we wrote algorithms to do this for us. Using loops to procedurally draw shapes is a powerful concept, as it allows designers to do more with less code, thus alleviating us from the pains of manually constructing every design object by hand. This is also the hardest thing about procedural design, as designers need to devote more time up front distilling the system into code, and they cannot easily manipulate individual shapes like in a traditional design tool. The American computer scientist Donald Knuth calls this a transition from design to meta-design:</p>

    <blockquote class="text-width">
      <p>&ldquo;Meta-design is much more difficult than design; it is easier to draw something than to explain how to draw it. […] However, once we have successfully explained how to draw something in a sufficiently general manner, the same explanation will work for related shapes, in different circumstances; so the time spent in formulating a precise explanation turns out to be worth it.&rdquo;</p>
      <cite>Donald Knuth (1986), The Metafont Book</cite>
    </blockquote>

    <p>This is also the main thesis of this book. When designers learn to not only think systematically about the design process, but also to implement those systems in software, they can build things that were not possible before.</p>

  </section>

  {% include exercise.html text="Try to draw all the basic shapes using the techniques presented in this chapter. Then continue to generate other types of shapes. Can you use <code>random()</code> to manipulate the shape outline? Can you use Bézier curves instead of simple vertices?" %}

</section>
