---
svg: test.svg
title:  Canvas and shape
dek: Our first step into the world of graphic design involves looking at the relationship between the canvas and a single shape.
---

<section data-type="chapter">

  <header>
    <h1>{{ page.title }}</h1>
    <p class="dek">{{ page.dek }}</p>
  </header>

  <p>As we begin our journey into the field of graphic design, it's important to start at the very beginning. Graphic design is the art of using form and color to successfully convey a message, but this is not as easy as it sounds. The design process is one of trial and error, and it often takes many iterations to create a design that clearly communicates what you're trying to say. Although we tend to think of this design process as something involving gut instinct, experienced designers have an ever-expanding checklist of visual relationships that helps guide them through to the end.</p>

  <p>The first item on this checklist is learning how to manipulate a single shape to produce desired outcomes. We will investigate how changing three simple variables of a rectangle – the position, size, and rotation – can result in drastically different expressions. Although somehow basic, these variables are an important first set of techniques to be employed at the beginning of every design process, replacing hours of searching through online portfolios of the latest trends in the design world.</p>

  <section data-type="sect1">

    <h1>Size</h1>

    <p>The size of a shape is important, as it communicates whether that shape is important or not. By increasing the size of important shapes and decreasing the size of less important shapes, you can bring clarity to a design, and this is a pattern we encounter daily in everything from traffic signs to website dialog boxes.</p>

    <div class="two-grid">
      <figure class="col">
        {% p5 form/canvas-and-shape/dominant.js class:'fig' %}
        <figcaption>This square is dominant because it takes up most of the canvas.</figcaption>
      </figure>
      <figure class="col">
        {% p5 form/canvas-and-shape/non-dominant.js class:'fig' %}
        <figcaption>This square is less dominant because of the large empty space around it.</figcaption>
      </figure>
    </div>

    <p>In his famous advertising designs for Volkswagen, William Bernbach used the size of a car to emphasize the supporting text copy. This is a great example of a simple but highly effective design using sizing as a guiding principle.</p>

    <div class="two-grid header-width">
      <figure class="col">
        <img src="form/canvas-and-shape/vw-thinksmall.jpg" />
      </figure>
      <figure class="col">
        <img src="form/canvas-and-shape/vw-lemon.jpg" />
      </figure>
    </div>

    <p>It can often help to draw black boxes on top of actual designs to reveal this relationship, and doing it on work by famous designers will reveal how this is an integral part of most design processes.</p>

    <p>TWO DESIGNS WITH BLACK BOXES, ONE SUCCESSFUL AND ONE NOT. BOTH TRYING TO DO THE SAME THING.</p>

    <p>Using the drawing functions in P5.js, it's easy to draw shapes in different sizes. The following example shows the simplest possible way to draw a rectangle on the left half of the canvas. However, if you change the width of the canvas, the rectangle will no longer fill half the canvas. So even though the code is simple, it is hard to test variations of the design when using static number to size your shapes.</p>

    THIS SHOULD BE RED.

    <div class="two-grid">
      <figure class="col one-third">
        <figure>{% p5 form/canvas-and-shape/static-half.js class:'fig' %}</figure>
        {% codesplit form/canvas-and-shape/static-half.js lines:'3,8' %}
      </figure>
      <figure class="col two-thirds">
        <figure>{% p5 form/canvas-and-shape/static-half-scaled.js class:'fig' %}</figure>
        {% codesplit form/canvas-and-shape/static-half-scaled.js lines:'3,8' %}
      </figure>
    </div>

    <p>You can write smarter code by basing the size of your shapes on the size of the canvas. Here's that same sketch where the width of the rectangle is calculated using the width of the canvas. This simple change makes it easy to resize your canvas without needing to change any other line of code. This is a method that is used throughout this book, as it's simply good practice, and it will make it easier for you to test variations of your code-based designs.</p>

    THIS SHOULD BE GREEN.

      <div class="two-grid">
        <figure class="col one-third">
          {% p5 form/canvas-and-shape/dynamic-half.js class:'fig' %}
          {% codesplit form/canvas-and-shape/dynamic-half.js lines:'3,8' %}
        </figure>
        <figure class="col two-thirds">
          {% p5 form/canvas-and-shape/dynamic-half-scaled.js class:'fig' %}
          {% codesplit form/canvas-and-shape/dynamic-half-scaled.js lines:'3,8' %}
        </figure>
      </div>

  </section>

  <section data-type="sect1">

    <h1>Position</h1>

    <p>Another important relationship is the positioning of shapes in the canvas. Most languages have a natural reading direction (english is left to right, arabic right to left) that can be used to prioritize the importance of shapes. Proper use of positioning simply gives the reader a clue about where to start.</p>

    <p>This pattern is used throughout the design world to create, in lack of a better word, rhythm. Graphic novels use the positioning of captions to guide the reader through the storyline. Newspapers place the most important text in a heading at the top of an article, which also tends to have a larger size to set it apart.</p>

    <div class="two-grid">
      <figure class="col">
        {% p5 form/canvas-and-shape/left.js class:'fig' %}
        <figcaption>First, because of reading direction.</figcaption>
      </figure>
      <figure class="col">
        {% p5 form/canvas-and-shape/right.js class:'fig' %}
        <figcaption>Last, because of reading direction.</figcaption>
      </figure>
    </div>

    <p>When you change the position of a shape, you also change the empty space between the shapes. This concept, often called whitespace, is another thing to keep in mind. In example X2, there is an equal amount of whitespace on the sides of the rectangle. This creates symmetry and balance, which is broken in example X3 where the square moves off center.</p>

    <p>EXAMPLE: William Bernbache. In his famous ads for Volkswagen, William Bernbach used the position and size of the car to convey the message of the text. BOTH SMALL AND LARGE</p>

    <p>It is often helpful to use variables at the top of your code to store the position of your shapes. The example on the left shows the simplest possible way to draw a rectangle near the bottom right of the canvas. However, if you want to change the amount of space between the rectangle and the edge of the canvas, you will need to change many numbers in your code. As your code becomes more complex, this becomes hard to maintain. The same design is implemented in a much better way in the example to the right, introducing two variables that is used throughout the code.</p>

    <div class="three-grid">
      <div class="col">
        {% codesplit form/canvas-and-shape/use-variables-wrong.js lines:'8' %}
      </div>
      <div class="col">
        {% codesplit form/canvas-and-shape/use-variables-right.js lines:'6-10,13' %}
      </div>
      <figure class="col">
        {% p5 form/canvas-and-shape/use-variables-right.js class:'fig' %}
      </figure>
    </div>

  </section>

  <section data-type="sect1">

    <h1>Rotation</h1>

    <p>A third important relationship relates to the rotation of shapes. Rotation can be used to make shapes come alive, as the whitespace around them becomes more complex and breaks the symmetry of the design.</p>

    <div class="three-grid">
      <figure class="col">
        {% p5 form/canvas-and-shape/rotation1.js class:'fig' %}
        <figcaption>A rectangle with no rotation appears static because of the symmetric whitespace.</figcaption>
      </figure>
      <figure class="col">
        {% p5 form/canvas-and-shape/rotation2.js class:'fig' %}
        <figcaption>A rotation of 45&deg; creates more complex – but still symmetric – whitespace.</figcaption>
      </figure>
      <figure class="col">
        {% p5 form/canvas-and-shape/rotation3.js class:'fig' %}
        <figcaption>A rotation of 27&deg; breaks the symmetry, and the rectangle appears in motion.</figcaption>
      </figure>
    </div>

    <p>Rotation is used in many types of design products: Children's books use rotated shapes to make them look fun and playful. Popular magazines use rotated grid systems to make the content look less dry, while publications for a narrow target audience use horizontal grid systems to imply quality of the content within.</p>

    <p>EXAMPLE: Paul Rand uses squares with different rotations to make a playful cover for a children's book.</p>

    <p>EXAMPLE: Josef muller brockman: 45 degree rotations. streamlined and digital.</p>

    <p>In code, we define rotation as a number between 0 and 360 (degrees), often converted to a number between 0 and 6.28318530718 (radians) with the <code>radians()</code> function. It is important to understand how graphic programming languages – and P5.js in particular – applies rotation to shapes. When you use the <code>rotate()</code> function, you are actually rotating the entire coordinate system, and all shapes drawn after this rotation will be drawn in the rotated coordinate system.</p>

    <div class="commentator">
      {% codesplit form/canvas-and-shape/coordinates.js lines:'11-17' %}
      <figure>{% p5 form/canvas-and-shape/coordinates.js class:'fig' %}</figure>
    </div>

    <div class="commentator">
      {% codesplit form/canvas-and-shape/coordinates-rotated.js lines:'6-12,17' %}
      <figure>{% p5 form/canvas-and-shape/coordinates-rotated.js class:'fig' %}</figure>
    </div>

    <div class="commentator">
      {% codesplit form/canvas-and-shape/coordinates-translated.js lines:'6-13,18' %}
      <figure>{% p5 form/canvas-and-shape/coordinates-translated.js class:'fig' %}</figure>
    </div>

    <div class="commentator">
      {% codesplit form/canvas-and-shape/coordinates-translated-rotated.js lines:'6-13,18' %}
      <figure>{% p5 form/canvas-and-shape/coordinates-translated-rotated.js class:'fig' %}</figure>
    </div>

    <p>As we dive into more layout techniques, we will further investigate how to use <code>translate()</code> and <code>rotate()</code> to make more sophisticated designs.</p>

  </section>

  <section data-type="sect1">

    <h1>Combining the three</h1>

    <p>These variables are all proportional to the dimensions of the canvas, so if you make the canvas bigger, the shapes should be bigger too. This would take a lot of manual work in a program like Illustrator, but in code we can use the width and height of the canvas to automatically calculate the position of our shapes.</p>

    <p>The following two lines of code have identical outcomes, but the latter will place the rectangle in the bottom right corner, no matter the canvas size. The former will not.</p>

    {% include code_static.html caption="Do not use hardcoded numbers." class="media-width dont" code="rect(900, 900, 100, 100);" %}

    {% include code_static.html caption="Do use width and height to calculate position." class="media-width do" code="rect(width - 100, height - 100, 100, 100);" %}

    <p>By constraining yourself to just a rectangle and these three variables, you will train one of the most fundamental skills in design: Seeing visual relationships. The following examples of designs for a single word will give you some idea of what the result might look like.</p>

    <p>SHOW WORD/DESIGN GRID</p>

    <p>Although this is just our first step into the world of graphic design, many extra-ordinary works of art have been created using this approach.</p>

    <p>GRAPHIC DESIGN EXAMPLES</p>

    <p>It's common to find problems in existing designs that can be traced back to the use of position, size, and rotation. Whether it's a user interface that fails to emphasize an important button, or a graph with ambiguity around its underlying dataset, it's clear that some designers rush to make things pretty without thinking about these basic relationships. This should be seen as a failure of design, and one is much better off including these ideas as a vital part of any design process.</p>

  </section>

  <div data-type="exercise">
    <svg width="100%" height="3" xmlns="http://www.w3.org/2000/svg">
      <line x1="0" y1="1" x2="100%" y2="1" stroke-dasharray="6, 3" stroke-width="2" stroke="#ecc94a" />
    </svg>
    <header>
      <h2>Exercises</h2>
    </header>
    <ul>
      <li>Pick a random word from the dictionary, and write a sketch that tries to convey that word by changing the position, size, and rotation of a single rectangle. Do this for a couple of words, and ask friends to guess the word-image combinations.</li>
    </ul>
  </div>

</section>
