---
title: Geometric composition
---

<section data-type="chapter">
  {% include header.html %}

  <blockquote class="text-width">
    <p>
      &ldquo;By making visual categories explicit, by extracting underlying
      principles, and by showing structural relations at work, [the aim is] not
      to replace spontaneous intuition but to sharpen it, to shore it up, and to
      make its elements communicable.&rdquo;
    </p>
    <cite>Rudolf Arnheim<span data-type="footnote">Arnheim, Rudolf (1974) <em>Art and Visual Perception</em>, p. 8. University of California Press</span></cite>
  </blockquote>

  <p>
    In the late 1800’s, psychologists in Germany performed a range of studies
    that would later form the foundation of Gestalt psychology. This new branch
    of psychology stated that, because humans live in a complex world, we seek
    to derive fast, simplified conclusions about what we see. The first thing
    most people see when presented with the drawing below is not X circles, but
    rather the groups these circles form based on their distance to each other
    and other visual similarity. Observing how humans naturally try to turn a
    complex world into simple, actionable insights, the German psychologist Kurt
    Koffka would famously state that &ldquo;the whole is something else than the sum
    of its parts&rdquo;
    <span data-type="footnote">Heider, G.M. (1977) <em>More about Hull and Koffka</em>, American Psychologist, 32(5), 383</span>.
  </p>

  <p>
    [ Picture of circles: black and white, groups, and a circle of circles ]
  </p>

  <p>
    Because this branch of psychology is devoted to the mechanisms of perception
    and it emerged in Germany at the same time of the Bauhaus school, the
    Gestalt principles have long been used by artists and designers to
    anticipate the effects of their work. Although this is not a chapter on
    psychology, Gestalt theory teaches us an important lesson about graphic
    design: Users of your design will naturally draw conclusions based on the
    entirety of your design, and if you do not formalize your visual elements
    into a coherent layout, you are not in control of how your design is
    perceived. In other words, your entire design is a shape in itself, and that
    shape has to be designed too.
  </p>

  <p>[ a non-conform layout and a conform layout ]</p>

  <p>
    Those who are just beginning their design career might think that the
    ability to create clean and organized layouts is something that
    automatically comes with experience. Although practice does make perfect, it
    is remarkably hard to consistently arrange shapes on a page without a basic
    system to guide the decisions. Luckily, there is a technique that even the
    most gifted designers use to organize their layouts, achieve a balance
    between the shapes used, and spark new ideas whenever creativity falls
    short.
  </p>

  <p>
    This chapter focuses on an important layout technique in graphic design
    often referred to as geometric composition: Dividing the canvas into smaller
    parts and using these divisions to arrange the visual elements. This
    technique can be used to create endless beautiful and expressive designs,
    and it happens to be a great technique for those of us using code in the
    design process.
  </p>

  <section data-type="sect1">
    <h1>Canvas Division</h1>

    <p>
      To demonstrate what geometric composition looks like in practice, let us imagine we
      are asked to design a poster for an upcoming photographic exhibition, and
      that the client wants this poster to have exactly three important photos
      from the exhibition. In our first attempt at designing such a poster, we
      will position and scale the images to each take up one third of the
      canvas. Although this might not be the most thrilling layout, this
      guarantees that each image has an equal amount of space and that the lines
      created between each image are evenly distributed from top to bottom. This
      is demonstrated in the code below where, for simplicity’s sake, we are
      using three rectangles with different grayscale fills instead of images in order to not
      worry about image cropping.
    </p>

    <div class="grid">
       {% codesplit layout/geometric-composition/thirds.js lines:'5-16' class:'col-2-3' %}
       {% p5 layout/geometric-composition/thirds.js class:'col-1-3' %}
    </div>

    <p>
      Many designers use this Rule of Thirds in situations where centering a
      shape is considered too dull or static. Some will even argue that placing
      important shapes around the thirds of the canvas will increase the
      dynamism and aesthetics of the design. Putting the validity of that
      discussion aside, we have already achieved something that would be hard to
      do without a layout system: Positioning and scaling three images evenly
      across a canvas. However, the result appears somewhat dense because there
      is no white space between the images. To make up for this, we can
      introduce margins (a term used to describe empty space around content)
      between our images to make the design less heavy. The attentive reader
      will notice that the math required for calculating the height of each
      module is now a bit more complex. First, we will need to decide on the
      size of our margin, which we base on the canvas height in order to make
      our layout responsive in case we ever resize the canvas.
    </p>

    {% codesplit layout/geometric-composition/thirds-margin-between.js lines:'5' class:'text-width' %}

    <p>
      We then calculate the combined height of all three images, which is the
      canvas height without our margins. Note that since we are only adding the
      margin between the images, we have two margins and three images.
    </p>

    {% codesplit layout/geometric-composition/thirds-margin-between.js lines:'7' class:'text-width' %}

    <p>
      It is then a simple task to calculate the height of an individual image.
    </p>

    {% codesplit layout/geometric-composition/thirds-margin-between.js lines:'8' class:'text-width' %}

    <p>
      The full code example below uses these variables to place each image at
      the correct spot. You can change the value of the <code>margin</code> variable to
      increase or decrease the amount of white space, or even set it to a random
      number to make the margin different every time the code runs.
    </p>

    <div class="grid">
       {% codesplit layout/geometric-composition/thirds-margin-between.js lines:'5-20' class:'col-2-3' %}
       {% p5 layout/geometric-composition/thirds-margin-between.js class:'col-1-3' %}
    </div>

    <p>
      We can continue our quest to add more white space by introducing margins
      around the edges of the canvas as well. Like a framed painting, this will
      remove the denseness of the layout even more and call attention to each
      image as a separate piece of content. It will also allow us to add
      captions underneath each photo if necessary. We use the same code from
      above to calculate the height of each image, adding two extra margins for
      the top and bottom. We also use the same approach to calculate the width
      of each image by subtracting the margins from the canvas width.
    </p>

    <div class="grid">
       {% codesplit layout/geometric-composition/thirds-margin-around.js lines:'5-21' class:'col-2-3' %}
       {% p5 layout/geometric-composition/thirds-margin-around.js class:'col-1-3' %}
    </div>

    <p>You might notice how the calculations are becoming longer and longer. When writing code, there are always multiple ways of achieving the same outcome, and since some designers will find these calculations a bit hard to read, let us rewrite the same example using the <code>translate()</code> function. As described in earlier chapters, <code>translate()</code> can be used to move the entire canvas itself. If you draw a rectangle with <code>rect(0, 0, 50, 50)</code>, you will normally see a square in the top left corner of the canvas. However, if you add <code>translate(100, 100)</code> to your code before drawing the rectangle, the square will now appear <code>100</code> pixels down and to the rigth because of the translation. You might think of this like what happens when you click and drag on Google Maps: All shapes stay in the same positions within the canvas, but the canvas itself is being moved around.</p>

    <p>One powerful (and challenging) aspect of translations is that they are cumulative, which means that they are added on top of previous translations. This is best demonstrated with a quick example. Notice how the second translation is added on top of the previous one, making the rectangles show up below each other despite them
    having the same <code>x</code> and <code>y</code> values.
    </p>

    <div class="grid media-width">
       {% codesplit layout/geometric-composition/translate-cumulative.js lines:'4-12' class:'col-1-2' %}
       {% p5 layout/geometric-composition/translate-cumulative.js class:'col-1-2' %}
    </div>

    <p>
      This means that, instead of doing long calculations, we can use <code>translate()</code>
      before drawing each image to move the canvas down to the correct position. Note how we are adding a few more lines of code, but the calculations are almost entirely gone since we are relying on <code>translate()</code>.
    </p>

    {% codesplit layout/geometric-composition/thirds-margin-around-translate.js lines:'5-26' class:'columns media-width' %}

    <p>
      The designs from our poster exercise might look simple, but they show why
      geometric composition is such a good strategy when designing in code: it
      might take a little longer to write the code compared to a traditional
      design tool, but the result is a pixel-perfect, balanced design that makes
      it easy to test variations by tweaking a single variable.
    </p>
  </section>

  <section data-type="sect1">
    <h1>Procedural Layouts</h1>

    <p>
      So far, we have manually calculated the position for every image in our
      code based on the <code>margin</code>, <code>imgWidth</code>, and <code>imgHeight</code> variables.
      This might not be a problem when working with three images, but it quickly
      gets repetitive if we have a lot of content. As described in Procedural
      Shapes (LINK), a for-loop can be used to run the same piece of code
      multiple times after each other, and since all of our images follow the
      same layout rule, we should be able to come up with a single piece of code
      to draw all three images. This layout rule can loosely be translated to
      something like this:
    </p>

    <p>For each image:</p>
    <ol>
      <li>
        Move down the value of <code>margin</code> to add the initial white space at the
        top of the canvas.
      </li>
      <li>
        Move down the value of <code>imageHeight + margin</code> as many times as the
        number of prior images to find the position of the image.
      </li>
    </ol>

    <p>Translating this from words to code would look something like this:</p>

    <pre
      class="text-width"
    ><code>var imgY = margin + imageNum * (imageHeight + margin);</code></pre>

    <p>
      Note how this single line of code can be used to find the <code>y</code> position for
      each image by changing the value of <code>imageNum</code> from <code>0</code> (first image) to <code>2</code>
      (last image). Luckily, we can write a for-loop where the <code>i</code> variable
      increments from <code>0</code> to <code>2</code> in steps of one, just like we need:
    </p>

    {% codesplit layout/geometric-composition/thirds-margin-around-loop.js lines:'18,20,22' class:'media-width' %}

    <p>
      We can take these ideas and procedurally draw our poster in the exact same layout but using a for-loop. As explained in the <a href="#procedural-color-schemes" data-type="xref">Color Schemes</a> chapter, we will use an array of color objects to draw different fills for the "images" with the same code.
    </p>

    <div class="grid">
       {% codesplit layout/geometric-composition/thirds-margin-around-loop.js lines:'5-22' class:'col-2-3' %}
       {% p5 layout/geometric-composition/thirds-margin-around-loop.js class:'col-1-3' %}
    </div>

    <p>
      Just as above, we can also rewrite this code to rely on the <code>translate()</code> function.
      The only difference is that we need to use <code>translate()</code> inside of the for-loop,
      and since the first image needs to call <code>translate(margin, margin)</code> to position itself
      by the outer margin, each of the following images need to call <code>translate(0, imgHeight + margin)</code>
      to move the canvas in the correct amount. So solve this problem, we do the first translation before the
      for-loop, and the subsequent translations after drawing each image. Same output, but slightly more readable for some.
    </p>

    {% codesplit layout/geometric-composition/thirds-margin-around-loop-translate.js lines:'5-27' class:'columns' %}

    <p>
      Some designers prefer the use of <code>translate()</code> because it reads like our
      layout rule from above, while others will favor seeing the layout
      calculation in a single line of code. It is often possible to achieve the
      same thing in many different ways when working with code, and both of
      these techniques are perfectly valid. You should use whichever makes the
      most sense to you.
    </p>
  </section>

  <section data-type="sect1">
    <h1>The Grid System</h1>

    <p>
      Although we so far have only divided our canvas into thirds, the same
      method can be used with fewer or more divisions. If the poster example
      required us to use four photos, we would not need to make a lot of changes
      to the code to make that happen. However, when we increase the number of
      divisions, the space for each image becomes narrower, and at some point
      this will be unsuitable for our content. To make up for this, we can
      introduce another division – this time on the vertical axis – to add more
      flexibility to the layout. This is the beginning of what in
      graphic design is referred to as a grid system.
    </p>

    <div class="grid media-width">
       {% p5 layout/geometric-composition/grid-thirds.js class:'col-1-2' caption:'Before' %}
       {% p5 layout/geometric-composition/grid-sixths.js class:'col-1-2' caption:'After' %}
    </div>

    <p>
      A few important comments are needed before we continue. First, we might as well begin to use the correct terms now that we are using a proper grid system. Graphic designers often refer to the spaces within a grid system as <em>modules</em>, so this is the term we will be using from now on. Also, with all this talk about modules, one might easily be a bit confused: What are these modules and where are they in the code? It might be helpful to think of these modules just like the concept of guides in design tools such as Photoshop or Illustrator: Horizontal and vertical lines (that are not part of the actual design) that intersect to create rectangles. These modules are in our case a result of our margin and the horizontal and vertical divisions.
    </p>

    <p>
      With six modules, there is no longer a one-to-one mapping between the number of photos in our poster and the number of modules in the grid system. This makes it possible to explore how to utilize the grid in a more creative way. In order to do this, we need to first do a bit of calculations to find the width and height of each module. This is essentially the same code as we used for <code>imgHeight</code>, but used to calculate both the <code>moduleHeight</code> and <code>moduleWidth</code> values.
    </p>

    {% codesplit layout/geometric-composition/grid-sixths-poster.js lines:'5-9' class:'media-width' %}

    <p>
      We will begin by drawing each photo inside a module, leaving the three remaining modules blank. Despite this somewhat simple layout rule, this leaves us with a bit of flexibility and some decisions to be made. Each of the designs below create whitespace in different ways, which in turn can inspire where to place possible text content.
    </p>

    <div class="grid">
      <div class="col-1-3">
        {% p5 layout/geometric-composition/grid-sixths-poster-2.js caption:'Layout with room for text to flow left-right-left next to each image.' link:'true' %}
      </div>
      <div class="col-1-3">
        {% p5 layout/geometric-composition/grid-sixths-poster.js caption:'Poster with room for text in the middle of the canvas.' link:'true' %}
      </div>
      <div class="col-1-3">
        {% p5 layout/geometric-composition/grid-sixths-poster-3.js caption:'Poster with room for text in the left-hand side of the canvas.' link:'true' %}
      </div>
    </div>

    <p>
      It is also possible to experiment with ways of spanning a single piece of
      content across multiple modules. In the example below, a single photo
      covers the uppermost four modules while the remaining photos use the last
      two modules at the bottom of the canvas. This introduces the ability to
      highlight certain types of content over others.
    </p>

    <div class="grid">
       {% codesplit layout/geometric-composition/grid-highlighted.js lines:'5-23' class:'col-2-3' %}
       {% p5 layout/geometric-composition/grid-highlighted.js class:'col-1-3' %}
    </div>

    <p>
      This is just one of many designs that can be created from this six-module
      grid system. The core idea is that these modules become building blocks
      for the final layout, and there is really no right or wrong way to go
      about it. These three posters show what some of this experimentation could
      look like.
    </p>
  </section>

  <section data-type="sect1">
    <h1>Composition Strategies</h1>

    <blockquote class="text-width">
      <p>
        &ldquo;The idea of the grid is that it gives you a system of order and
        still gives you plenty of variety. [...] But the grid never changes. It
        is always the interior that changes, and that is what makes the thing
        come alive.&rdquo;
      </p>
      <cite
        >Paul Rand<span data-type="footnote"
          >Kroeger, Michael (2008) <em>Conversations With Students</em>, p. 27.
          Princeton Architectural Press</span
        ></cite
      >
    </blockquote>

    <p>
      Our imaginary poster with three images was a worthwhile project for
      demonstrating the basics of geometric composition. However, it is a
      somewhat simplified scenario compared to the type of content that a
      designer normally encounters. In order to explore this concept further,
      let us spend the rest of this chapter investigating other ways of using
      these same ideas in code, and by looking at designers who take different
      approaches to geometric composition. These designers utilize the grid in
      different ways: There are formalist designers who strictly follow the
      lines of the grid, more idea-driven designers who play within the grid,
      and designers who rarely use geometric helpers. Our first steps into the
      world of geometric composition is therefore constructed as – rather than a
      set of do’s and don’ts – a journey from a strict to more lenient way of
      using geometric composition. Hopefully these different approaches can
      inspire the reader to do more experiments on their own. Just like above,
      we will use content placeholders to simplify the code examples: A heading
      [---], a paragraph [----], and a picture [----]. NOTE 4 DIVISIONS ON VERTICAL.
      NOTE: USING TRANSLATE AND NOT TRANSLATE IN DIFFERENT WAYS!
    </p>

    <p>
      A strict approach to geometric composition means that most of the content
      in your design should align with the lines created by your grid. In order
      to achieve this, paragraph text can be sized to the module and justified
      to create sharp edges on both the left and right side of the text block,
      and images can be scaled and cropped to take up the entire space of their
      module(s). The result is often a clean and balanced layout that, despite
      this rather formalist approach to composition, leaves much room for
      individual expression based on the modules and the content used. This is
      demonstrated below with a module structure that is very similar to our
      previous examples.
    </p>

    <div class="grid">
       {% codesplit layout/geometric-composition/composition-strict-1.js lines:'5-21' class:'col-2-3' %}
       {% p5 layout/geometric-composition/composition-strict-1.js class:'col-1-3' %}
    </div>

    <p>
      A real-world example of this can be found in the visual identity for the
      Whitney Museum designed by Dutch design studio Experimental Jetset. The
      identity system is based on a strict grid system where the vertical and
      horizontal lines of the content is broken up by a stretchable and skewed
      “W” that also functions as a logotype for the museum. The strictness of
      the grid system combined with the ever-changing dynamic logo makes for a
      good visual language for a white-wall museum that constantly renews itself
      through original exhibition work.
    </p>

    PIC

    <p>[Whitney mobile app?]</p>

    <p>
      For designers who have a hard time creating compelling layouts from a
      blank canvas, this stricter approach to composition can serve as a
      concrete starting point for further exploration. The examples below show a
      number of variations of the same idea.
    </p>

    <div class="grid">
      <div class="col-1-3">
        {% p5 layout/geometric-composition/composition-strict-2.js link:'true' %}
      </div>
      <div class="col-1-3">
        {% p5 layout/geometric-composition/composition-strict-3.js link:'true' %}
      </div>
      <div class="col-1-3">
        {% p5 layout/geometric-composition/composition-strict-4.js link:'true' %}
      </div>
    </div>

    <p>
      If this is an example of a strict interpretation of geometric composition,
      then what does it mean to design with a more lenient interpretation of the
      grid? The key is to find ways of breaking the box-like aesthetic of the
      grid, and there are many ways of doing this. The first focus will be to
      break the uniformity of the white space, and we will do this by allowing
      multiple pieces of content to use the same module. The overlapping content
      makes for a less formal composition while still adhering to the rules of
      the grid.
    </p>

    PIC

    <p>
      The three designs below all use the same approach to create three
      different designs with overlapping content.
    </p>

    PIC

    <p>
      A real-world example of this approach can be found in the visual identity
      for CCC, an art cinema and cultural center in Santiago de Chile, created
      by Martin Bravo and Simon XXX (REF: Authors company). The visual language
      is based on a simple design system with three basic building blocks – a
      logo with three iconic C’s, a grid system based on the rule of thirds, and
      a playful color palette – which can be combined to produce an endless
      number of assets for the institution. Notice how the rules of the grid
      stay the same even though the format of the canvas changes. For an
      institution where most of the marketing material is created by a rotating
      team of volunteers, this simple but flexible composition technique helps
      streamline their public communications, and the colored blocks produced by
      the geometric composition makes for an extremely recognizable identity.
    </p>

    PIC

    <p>
      Another way to deviate from the strictness of the grid is to focus on how
      our content is placed within the modules. So far, the strategy has been to
      fill the entire space of one or more modules with our content. We can open
      up more possibilities by making our content smaller than the modules and
      align the content to just one or two sides. As you can see in the
      following example, this makes for a less organized layout where few of the
      shapes align, but without the chaos of a free-for-all layout.
    </p>

    PIC

    <p>
      The designs below all use the same approach to create three different
      layouts.
    </p>

    PIC

    <p>REAL WORLD EXAMPLE!???</p>

    <p>[Real world of this]</p>

    <p>
      There are many ways of playing with the alignment of content within the
      modules. The American graphic designer Jacqueline Casey, who is best known
      for her work as Director of MIT’s Office of Publications, plays with
      horizontal misalignment in this poster from 1962. Dividing the canvas into
      many thin modules, the type is offset from the center using the modules as
      a baseline for the typography. Combined with a black and white color
      scheme, the result is a rigid yet playful design that invites the reader
      to examine the text more closely.
    </p>

    <p>
      Finally, we can completely move away from the idea of a uniform grid by
      using just some of the ideas above to create a freer layout system. This
      might include using a margin around the canvas and scaling content based
      on the canvas size, but then allowing content the freedom to be placed
      anywhere on the canvas. The following examples demonstrate this idea, and
      they vary only in whether or not they allow the content to overlap.
    </p>

    <p>[TWO EXAMPLES OF OVERLAPPING CONTENT]</p>

    <p>
      This poster by the american graphic design Paul Rand FIGURE OUT THE RULE.
    </p>

    <p>Even crazier, two divisions on top of each other!</p>

    <p>[ Guang Yu - Tokyo TDC Selected Artworks in Beijing ]</p>

    <p>
      This chapter introduced a set of geometric composition techniques that can
      be used to construct graphic layouts by dividing the canvas into smaller
      spaces that are in turn used to guide the content. These ideas can help
      the designer create a plan for the entire composition before focusing on
      individual pieces of content. In some way, geometrical composition is a
      way to think about the general before the specific, and this can be a
      blessing or a curse depending on how these ideas are used. As always,
      rules should not be followed blindly. Graphic design is above all a human
      endeavour, and geometric composition techniques should be used to explore
      layouts and generate new ideas, not as a prison for templating content
      into a visual monoculture.
    </p>

    <p>
      The next chapter of this book is devoted to the concept of grid systems,
      which has already been introduced in this chapter. Devoting a full chapter
      to grid systems will give us an opportunity to focus on key details
      related to the use of grid systems in code, including how to write
      reusable code that can be shared across projects. Until then, it is
      recommended that you follow the following exercise.
    </p>

    <p>[ EXERCISE. MOST OF THE EXAMPLES IN THE BEGINNING OF THE CHAPTER ARE VERTICAL.
      TRY TO RECREATE ON THE HORIZTONAL AXIS]
    . THEN, TRY TO USE REAL IMAGES USING THE CROP FUNCTION?????</p>
  </section>

  {{footnotes}}
</section>
