<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.title }}</title>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="Programming Design Systems is a free digital book that teaches a practical introduction to the new foundations of graphic design." />
    <meta name="keywords" content="p5.js, Programming, Design, Systems" />
    <meta name="author" content="Rune Madsen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ stylesheets }} {% include ga.html %}
  </head>
  <body>
    {{ content }}
    <script src="{{ webpack.main }}"></script>
  </body>
</html>
