<!DOCTYPE html>
<html>

  <head>
    <title>{{ config.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ stylesheets }}
  </head>
  <nav>
    <a href="/">Programming Design Systems</a>
    <input type="email" placeholder="Sign up for updates" class="signup" />
  </nav>

  <body>
    <div class="container">
      <article class="post">
        {{ content }}
        {% include navigation.html %}
      </article>
    </div>
    {{ javascripts }}
  </body>

</html>
