* {
  box-sizing: border-box;
}

 .cs-comment {
  padding-right: 2em;
}

.cs-code {
  background: #F6F7F9;
}

.cs-code pre {
  font-size: 1.05em;
  line-height: 1.35em;
  font-family: 'AtlasTypewriter-Regular';
  margin: 0;
}

#one, #three {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

#one .cs-code pre, #one .cs-code pre,
#three .cs-code pre, #three .cs-code pre {
  padding: 0.8em 1em;
}

#two .wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#two .cs-comment {
  flex: 0 0 50%;
}

#two .cs-comment p {
  margin-top: 0.2em;
}

#two .cs-code {
  flex: 0 0 50%;
}

#two .cs-code pre {
  margin-top: 1em;
  padding-left: 1em;
  border-left: 1px solid red;
}

#two .cs-code:last-of-type pre {
  margin-bottom: 0.8em;
}

/* Codemirror theme */
.cm-s-pds { color: #4d463e; }
.cm-s-pds .CodeMirror-activeline-background { background: #eeeeee; }
.cm-s-pds .CodeMirror-selected { background: #60A365; }
.cm-s-pds .cm-keyword { color: #7A99B8; }
.cm-s-pds .cm-string { color: #857AB8; }
.cm-s-pds .cm-number { color: #857AB8; }
.cm-s-pds .cm-variable { color: #3D668F; }
.cm-s-pds .cm-def {  }
.cm-s-pds .cm-property { color: #95CC5E; }
