* {
  box-sizing: border-box;
}

div.comment {
  padding-right: 2em;
}

pre.code {
  margin: 0;
  font-family: 'AtlasTypewriter-Regular';
  font-size: 1.05em;
  background-color: #333;
  line-height: 1.4em;
}

#one, #three {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

#two .wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#two div.comment {
  flex: 0 0 50%;
  border-top: 1px dashed gray;
}

#two div.comment p {
  margin-top: 0;
}

#two pre.code {
  flex: 0 0 50%;
  border-top: 1px dashed gray;
}
