iframe {
  border: none;
  overflow: hidden;
}

div[data-type="exercise"] {

  margin-top: 2em;

  header {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
      display: inline-block;
      background-color: white;
      @extend .allcaps;
    }
  }
}

.newsletter {
  margin-top: 2em;
  padding: 1em;
  .btn {
    display: inline-block;
  }
}

.navigation {
  @extend .media-width;
  margin: 1em auto 3em auto;

  .col {
    margin-bottom: 1em;
  }

  a {
    display: block;
    text-decoration: none;
  }
  a:nth-child(1) {
    @extend .font-large;
    font-weight: 700;
  }
  a:nth-child(2) {
    color: $fontGray;
  }
  div:nth-child(2) {
    text-align: right;
  }
}

div[data-type="footnotes"] {
  hr {
    width: 100px;
  }
  ol {
    @extend .font-xsmall;
    color: $fontGray;
    padding-left: 1em;
    li {
      margin-bottom: 0.6em;
    }
  }
}

div[data-type="copyright-page"] {
  margin-bottom: 2em;
  hr {
    width: 100px;
  }
  p {
    @extend .font-xsmall;
    color: $fontGray;
  }
}
