iframe {
  border: none;
  overflow: hidden;
}

div[data-type="exercise"] {

  margin-top: 2em;

  header {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
      display: inline-block;
      background-color: white;
      @extend .allcaps;
    }
  }
}
