section[data-type="chapter"] {

  margin-top: 3em;

  .part-info {
    color: $colorGreen;
    margin-bottom: 0.7em;
    display: inline-block;
  }

  > header {
    @extend .text-width;
    margin-bottom: 2em;
    h1 {
      margin: 0 0 0.5em 0;
    }
  }

  // Paragraphs and headings directly inside chapter
  // or sect should have text width.
  &, section[data-type^="sect"] {
    > p, > h1, > h2, > ul, > ol {
      @extend .text-width;
    }
    > ul, > ol {
      @extend .font-normal;
      padding-left: 2em;
      line-height: 1.6em;
      li {
        margin-bottom: 0.5em;
      }
    }
  }

  a {
    box-shadow: inset 0 -2px 0 #757575;
  }

  span[data-type="footnote"] a {
    box-shadow: none;
  }

  figure figcaption:first-child {
    margin-bottom: 0.6em;
  }

  figure figcaption:last-child {
    margin-top: 0.6em;
  }

  figcaption a {
    box-shadow: none;
    margin-right: 5px;
  }
}
