// Typography
// -------------------------------------------

.allcaps {
  text-transform: uppercase;
  font-size: 1.25em;
}

.header-width {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.text-width {
  max-width: 690px;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}

.font-xsmall {
  font-size: 0.8em;
  line-height: 1em;
}

.font-small {
  font-size: 1em;
  line-height: 1.4em;
}

.font-normal {
  font-size: 1.15em;
  line-height: 1.6em;
}

.font-large {
  font-size: 1.3em;
  line-height: 1.5em;
}

// Lists
// -------------------------------------------

.nobullets {
  list-style-type: none;
  padding-left: 0;
}

// Boxes
// -------------------------------------------

.placeholder {
  background-color: $colorGrayLight;
}

// Buttons
// -------------------------------------------

.btn {
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1em;
  padding: 0.55em 0.8em;
  border: 2px solid #29b79b;
  background-color: #29b79b;
  font-weight: 700;
}

.btn.large {
  font-size: 1.2em;
  padding: 0.7em 1.2em;
}

.btn.invert {
  background: white;
  color: #29b79b;
}
