.color-green {
  color: $colorGreen;
}

// Spacing
// -------------------------------------------

.half-margin-top {
  margin-top: $spacing / 2;
}

.margin-bottom {
  margin-bottom: $spacing;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.half-margin-bottom {
  margin-bottom: $spacing / 2;
}

// Typography
// -------------------------------------------

.allcaps {
  text-transform: uppercase;
  font-size: 1.25em;
}

.text-center {
  text-align: center;
}

.text-width {
  max-width: $textWidth;
  padding-left: $spacing;
  padding-right: $spacing;
  margin-left: auto;
  margin-right: auto;
}

.media-width {
  max-width: $mediaWidth;
  padding-left: $spacing;
  padding-right: $spacing;
  margin-left: auto;
  margin-right: auto;
}

.font-xsmall {
  font-size: 0.8em;
  line-height: 1.3em;
}

.font-small {
  font-size: 1em;
  line-height: 1.4em;
}

.font-normal {
  font-size: 1.12em;
  line-height: 1.6em;
}

.font-large {
  font-size: 1.3em;
  line-height: 1.5em;
}

// Images
// -------------------------------------------

@media (min-width: $mobileBreak) {
  figure.left {
    max-width: 375px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
  }

  figure.right {
    max-width: 375px;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 50px;
  }
}

// Lists
// -------------------------------------------

.nobullets {
  list-style-type: none;
  padding-left: 0;
}

// Boxes
// -------------------------------------------

.placeholder {
  background-color: $colorGrayLight;
}

.white-img canvas,
.white-img img {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ededed;
  border-right-color: #d4d3d3;
  border-bottom-color: #d4d3d3;
}

// Buttons
// -------------------------------------------

.btn {
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1em;
  padding: 0.55em 0.8em;
  border: 2px solid #333333;
  background-color: #333333;
  font-weight: 700;
}

.btn.large {
  font-size: 1.2em;
  padding: 0.7em 1.2em;
}

.btn.invert {
  background: white;
  color: #333333;
}
