code, pre {
  font-family: $fontCode;
  color: #313131;
  background: #f1f1f1;
}

pre {
  padding: 0.5em 1em;
  font-size: 1.15em;
  line-height: 1.4em;
  white-space: pre-wrap;
}

code {
  font-size: 0.9em;
  line-height: 1.2em;
  max-width: 730px;
  padding: 0.1em 0.3em;
}

pre code {
  padding: 0;
}

.grid + .codesplit,
figure + .codesplit {
  margin-top: $spacing / 2;
}

.p5container {
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
  }
}

// Highlight
// -------------------------------------------------

code .token.keyword { color: #9a5959 }
code .token.variable { color: #de4646 }
code .token.function { color: #07b194 }
code .token.string { color: #ff8600 }
code .token.number { color: #508c7f }
code .comment { color: #b4b4b4 }

// Codesplit
// -------------------------------------------------

.codesplit.columns {

  .comment p {
    font-size: 1em;
    margin: 0;
  }

  .code pre {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $tabletBreak) {
  .codesplit.columns .comment p:before { content: "// "; }
  .codesplit.columns .comment {
    color: #b4b4b4;
    background: #f1f1f1;
    font-family: $fontCode;
  }
}

@media (min-width: $tabletBreak) {

  .codesplit.columns {

    background: #f1f1f1;
    padding: 0.5em 1em;

    .pair {

      border-radius: 4px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .comment {
        p {
          color: #43af9d;
          padding-right: 1em;
        }
        width: 40%;
        float: right;
      }

      .code {
        width: 60%;
        float: left;
      }

    }

    .pair:not(.no-comment) .code code,
    .pair:not(.no-comment) .code pre {
      background: none;
    }

    .pair:not(.no-comment) {
      background: #e1ecea;
    }

  }
}
