code, pre {
  font-family: $fontCode;
}

pre {
  padding: 0.5em 1em;
  font-size: 1.15em;
  line-height: 1.4em;
  white-space: pre-wrap;
}

code {
  font-size: 0.9em;
  color: $fontBlack;
  line-height: 1.2em;
  max-width: 730px;
  background-color: $colorGrayLight;
  padding: 0.1em 0.3em;
}

pre code {
  padding: 0;
}

// Codesplit
// -------------------------------------------------

.codesplit.columns {

  .comment p {
    font-size: 1em;
    margin: 0;
  }

  .code pre {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tabletBreak) {

  .codesplit.columns {

    padding: 0.5em 1em;

    .pair {

      border-radius: 4px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .comment {
        p {
          padding-right: 1em;
        }
        width: 40%;
        float: right;
      }

      .code {
        width: 60%;
        float: left;
      }

    }

  }
}
