code, pre {
  font-family: $fontCode;
}

pre {
  padding: 0.5em 1em;
  font-size: 1.15em;
  line-height: 1.4em;
  white-space: pre-wrap;
}

code {
  font-size: 0.9em;
  color: $fontBlack;
  line-height: 1.2em;
  max-width: 730px;
  background-color: $colorGrayLight;
  padding: 0.1em 0.3em;
}

.cm-s-pds { color: #4d463e; background: #F6F7F9; }
.cm-s-pds .CodeMirror-activeline-background { background: #eeeeee; }
.cm-s-pds .CodeMirror-selected { background: #60A365; }
.cm-s-pds .cm-keyword { color: #7A99B8; }
.cm-s-pds .cm-string { color: #857AB8; }
.cm-s-pds .cm-number { color: #857AB8; }
.cm-s-pds .cm-variable { color: #3D668F; }
.cm-s-pds .cm-def {  }
.cm-s-pds .cm-property { color: #95CC5E; }
