.color1 { color: $color1 !important; }
.color2 { color: $color2 !important; }
.color3 { color: $color3 !important; }
.color4 { color: $color4 !important; }
.color5 { color: $color5 !important; }
.color6 { color: $color6 !important; }
.color7 { color: $color7 !important; }

.bg1 { background: $color1 !important; }
.bg2 { background: $color2 !important; }
.bg3 { background: $color3 !important; }
.bg4 { background: $color4 !important; }
.bg5 { background: $color5 !important; }
.bg6 { background: $color6 !important; }
.bg7 { background: $color7 !important; }

.border1 { border-color: $color1 !important; }
.border2 { border-color: $color2 !important; }
.border3 { border-color: $color3 !important; }
.border4 { border-color: $color4 !important; }
.border5 { border-color: $color5 !important; }
.border6 { border-color: $color6 !important; }
.border7 { border-color: $color7 !important; }

.stroke1 { stroke: $color1 !important; }
