body {
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings:"liga=1, kern=1";
  -ms-font-feature-settings:"liga", "kern";
  -o-font-feature-settings:"liga", "kern";
  -webkit-font-feature-settings:"liga", "kern";
  font-feature-settings: "liga", "kern";
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: font-path('AtlasGrotesk-BoldItalic-Web.eot');
  src: font-path('AtlasGrotesk-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
     font-path('AtlasGrotesk-BoldItalic-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: font-path('AtlasGrotesk-Bold-Web.eot');
  src: font-path('AtlasGrotesk-Bold-Web.eot?#iefix') format('embedded-opentype'),
     font-path('AtlasGrotesk-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: font-path('AtlasGrotesk-MediumItalic-Web.eot');
  src: font-path('AtlasGrotesk-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
     font-path('AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: font-path('AtlasGrotesk-Medium-Web.eot');
  src: font-path('AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     font-path('AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: font-path('AtlasGrotesk-RegularItalic-Web.eot');
  src: font-path('AtlasGrotesk-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     font-path('AtlasGrotesk-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: font-path('AtlasGrotesk-Regular-Web.eot');
  src: font-path('AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
     font-path('AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
