.colormodel {
  .col-2-5 {
    padding: 0 2em 2em 2em;
  }
  figcaption {
    margin-bottom: 1.5em;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="range"] {
    margin-bottom: 20px;
  }
}

.square {
  display: inline-block;
  background-color: #000;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin: 0 4px;
}
