.container {
  margin: 0 auto;
  max-width: 1100px;
}

nav {
  padding: 1.5em;
  font-size: 1.2em;
  font-weight: 500;

  svg {
    vertical-align: bottom;
  }

  #logo {
    margin-left: 0.3em;
    display: inline-block;
    text-decoration: none;
  }

  .signup {
    border: none;
    font-weight: 500;
    font-size: 1em;
    float: right;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: pink;
    }
  }
}

// Layout: Sidebar and main view
// -------------------------------------------------

.aside-main {
  aside {
    display: none;
  }
}

@media (min-width: $mobileBreak) {

  .aside-main {

    display: flex;

    main {
      flex: 1 1 auto;
    }

    aside {
      display: block;
      flex: 0 0 180px;
    }

  }

}

// Layout: Two grid
// -------------------------------------------------

@media (min-width: $tabletBreak) {
  .two-grid {
    display: flex;
    flex-wrap: wrap;
    > .col {
      overflow-x: hidden;
      flex: 0 0 50%;
      &:nth-child(1) {
        padding-right: 0.5em;
      }
      &:nth-child(2) {
        padding-left: 0.5em;
      }
      &.one-third {
        flex: 0 0 33.33333%;
      }
      &.two-thirds {
        flex: 0 0 66.66666%;
      }
    }
  }
}

// Layout: Three grid
// -------------------------------------------------

@media (min-width: $tabletBreak) {
  .three-grid {
    display: flex;
    flex-wrap: wrap;
    > .col {
      overflow-x: hidden;
      flex: 0 0 33.333332%;
      &:nth-child(1) {
        padding-right: 0.5em;
      }
      &:nth-child(2) {
        padding-right: 0.5em;
        padding-left: 0.5em;
      }
      &:nth-child(3) {
        padding-left: 0.5em;
      }
    }
  }
}

// Layout: Commentator
// -------------------------------------------------

@media (min-width: $tabletBreak) {
  .commentator {
    display: flex;
    flex-wrap: wrap;
    > .codesplit, figure {
      overflow-x: hidden;
      flex: 0 0 50%;
      &:nth-child(1) {
        padding-right: 1em;
      }
      &:nth-child(2) {
        padding-left: 1em;
      }
    }
  }
}
