// Menu
// -------------------------------------------------

.menu {

  text-align: center;
  border-bottom: 1px solid #dadada;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;

  svg {
    vertical-align:text-bottom;
  }

  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

  #logo {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  #newsletter {
    display: block;
    text-decoration: none;
  }

}

@media (min-width: $mobileBreak) {

  .menu {
    text-align: left;

    #logo {
      display: inline;
      font-size: 1em;
    }

    #newsletter {
      display: inline;
      float: right;
    }
  }

}

// Main collapse Sidebar / Article Layout
// -------------------------------------------------

main {
  display: flex;
  flex-direction: column;
}

aside {
  flex: 0 0 300px;
}

article {
  flex: 1 1 auto;
  .maxContent {
    margin: 0 auto;
    max-width: 1100px;
  }
}

@media (min-width: $mobileBreak) {
  main {
    flex-direction: row;
  }
}

// Page Navigation
// -------------------------------------------------

.navigation {

  border-top: 1px solid #dadada;
  box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.1);

  margin-top: 3em;
  padding: 2em;

  .newsletter {
    display: none;
    text-align: center;
    a {
      display: inline-block;
    }
  }

  .prev-page, .next-page {
    text-align: center;
    margin-bottom: 1em;
    a {
      display: block;
      text-decoration: none;
    }
    a:nth-child(1) {
      @extend .font-large;
      font-weight: 700;
      margin-bottom: 0.2em;
    }
    a:nth-child(2) {
      color: $fontGray;
    }
  }

  div[data-type="copyright-page"] {
    margin-top: 4em;
    max-width: 450px;
    hr {
      width: 100px;
    }
    p {
      @extend .font-xsmall;
      color: $fontGray;
    }
  }

}

@media (min-width: $tabletBreak) {

  .navigation {

    .newsletter {
      display: block;
    }

    .prev-page {
      text-align: left;
    }

    .next-page {
      text-align: right;
    }

  }

}

// Grid
// -------------------------------------------------

@media (min-width: $tabletBreak) {

  .grid {

    margin-left: (-$spacing/2);
    margin-right: (-$spacing/2);

    &.media-width {
      max-width: $mediaWidth + $spacing;
      margin-left: auto;
      margin-right: auto;
    }

    &.text-width {
      max-width: $textWidth + $spacing;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .grid:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*='col-'] {
    float: left;
    padding-left: $spacing/2;
    padding-right: $spacing/2;
  }

  .col-1-2 {
    width: 50%;
  }

  .col-1-3 {
    width: 33.33%;
  }

  .col-2-3 {
    width: 66.66%;
  }

  .col-1-5 {
    width: 20%;
  }

  .col-2-5 {
    width: 40%;
  }

  // reset margins inside of grid so we don't get double space
  figure, pre {
    margin-top: 0;
    margin-bottom: 0;
  }

}

// Table of Contents
// -------------------------------------------------

.toc {
  height: 100%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.9);
  border-right: 1px solid #dadada;

  h2 {
    margin-top: 0.3em;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  h3 {
    margin-bottom: 0.8em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.6em;
    }
    ul {
      margin-left: 1em;
    }
  }
}

// EXTRA
// -------------------------------------------------

div[data-type="exercise"] {

  margin-top: 2em;

  header {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
      display: inline-block;
      background-color: white;
      @extend .allcaps;
    }
  }
}

div[data-type="footnotes"] {
  hr {
    width: 100px;
  }
  ol {
    @extend .font-xsmall;
    color: $fontGray;
    padding-left: 1em;
    li {
      margin-bottom: 0.6em;
    }
  }
}
