.menu {

  padding: 0;
  margin: 0;
  font-size: 1.1em;
  list-style: none;

  li.head {
    font-family: $fontBold;
    margin-bottom: 0.8em;
  }

  li {
    margin-bottom: 0.5em;
  }

  a {
    border-bottom: none;
  }
}
