section[data-type="chapter"] {

  > header {
    @extend .header-width;
    margin-bottom: 2em;
    border-bottom: 1px solid $colorGray;
    padding: 1em 0;

    h1 {
      margin: 0 0 0.5em 0;
    }

    p.dek {
      max-width: 100%;
      margin: 0 0 0.5em 0;
      @extend .font-large;
    }
  }

  // Paragraphs and headings directly inside chapter
  // or sect should have text width.
  &, section[data-type^="sect"] {
    > p, > h1, > h2 {
      @extend .text-width;
    }
  }

  figure {
    margin-bottom: 1.8em;
    figcaption {
      margin-top: 0.8em;
      margin-left: 1em;
      max-width: 450px;
    }
  }

  figure img {
    width: 100%;
    height: auto;
  }

}

.navigation {
  @extend .header-width;
  padding-top: 1.5em;
  border-top: 1px solid $colorGray;
  margin: 4em auto;

  a {
    display: block;
    border-bottom: none;
  }
  a:nth-child(1) {
    @extend .font-large;
    font-family: $fontBold;
  }
  a:nth-child(2) {
    color: $fontGray;
  }
  div:nth-child(2) {
    text-align: right;
  }
}

// Bigger than mobile
// -------------------------------------------

@media (min-width: $mobileBreak) {

}
