.part-info {
  margin-bottom: 0.7em;
  display: inline-block;
}

.codelink {
  text-align:center;
  margin-top: 1em;
}


section[data-type="chapter"] {

  margin-top: 3em;

  > header {
    @extend .text-width;
    margin-bottom: 2em;
    h1 {
      margin: 0 0 0.5em 0;
    }
  }

  // Paragraphs and headings directly inside chapter
  // or sect should have text width.
  &, section[data-type^="sect"] {
    > p, > h1, > h2 {
      @extend .text-width;
    }
  }
}
