.splash {

  padding: 30px;

  #canvas {
    position: absolute;
    z-index: -1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  h1, h2, .byline {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  .byline {
    margin-top: 3em;
    a {
      text-decoration: none;
    }
  }

  h1 {
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0.8em 0;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: normal;

  }

  a {
    text-decoration: none;
  }

  #mc_embed_signup {
    margin-top: 2em;
    background-color: gray;
  }

}
