.splash {

  text-align: center;

  #canvas {
    position: absolute;
    z-index: -1000;
    top: 0;
  }

  h1, h2, .byline {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  .byline {
    margin-top: 3em;
    a {
      text-decoration: none;
    }
  }

  h1 {
    margin-top: 1em;
    font-size: 3.5em;
    margin-bottom: 1em;
    letter-spacing: -0.02em;
    font-weight: 700;
  }

  h2 {
    line-height: 1.3em;
    font-weight: normal;
    font-size: 1.5em;
  }

  #mc_embed_signup {
    margin-top: 2em;
    background-color: gray;
  }

}
