body {
  font-size: 100%;
  font-family: $fontNormal;
  color: $fontBlack;
  font-weight: 400;
}

p {
  @extend .font-normal;
  line-height: 1.6em;
}

a {
  color: $fontBlack;
}

blockquote {
  margin-bottom: 2em;
  p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.35em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
  }
  cite {
    color: $fontGray;
    font-style: normal;
  }
}

h1 {
  font-size: 2.4em;
  line-height: 0.95em;
  letter-spacing: -0.02em;
  margin-bottom: 0.1em;
  font-weight: 500;
}

section[data-type="sect1"] h1, h2 {
  -webkit-font-smoothing: antialiased;
  font-size: 1.8em;
  line-height: 0.95em;
  letter-spacing: -0.02em;
  margin-bottom: 0.1em;
  font-weight: 700;
}

.caption, figcaption, figcaption code {
  color: $fontGrayLight;
  @extend .font-small;
}

span[data-type="footnote"] {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.1em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  @extend .font-xsmall;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid $colorGray;
  margin: 1em 0;
  padding: 0;
}

div[data-type="footnotes"] {
  hr {
    width: 100px;
  }
  ol {
    @extend .font-xsmall;
    color: $fontGray;
    padding-left: 1em;
    li {
      margin-bottom: 0.6em;
    }
  }
}
