$fontNormal: "AtlasGrotesk-Regular";
$fontBold: "AtlasGrotesk-Bold";
$fontCode: Consolas, Menlo, monospace;

$fontBlack: #333;
$fontGray: #888;
$fontGrayLight: #EBEBEB;

$colorGray: #CECECE;
$colorGrayLight: #F7F7F7;
$colorGreen: #6A9A04;
$colorRed: #E23737;

$mobileBreak: 590px;
$tabletBreak: 900px;
