$fontCode: Consolas, Menlo, monospace;

$fontBlack: #404040;
$fontGray: #888;
$fontGrayLight: #808080;

$colorGray: #CECECE;
$colorGrayLight: #F7F7F7;
$colorGreen: #6A9A04;
$colorGreenLight: #ECFFE9;
$colorRed: #E23737;
$colorRedLight: #FFE9E9;
$colorYellow: #ecc94a;

$mobileBreak: 590px;
$tabletBreak: 900px;

$headerWidth: 730px;
$textWidth: 660px;
