$fontNormal: "AtlasGrotesk", Helvetica, sans-serif;
$fontCode: Consolas, Menlo, monospace;

$fontBlack: #404040;
$fontGray: #888;
$fontGrayLight: #808080;

$colorGray: #CECECE;
$colorGrayLight: #F7F7F7;

$mobileBreak: 590px;
$tabletBreak: 900px;


// used for grid gutters and text spacing on the sides.
$hspacing: 20px;

$textWidth: 690px;
$mediaWidth: 770px;
